@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

:root {
    --dkblue: #1D3557;
    --red: #E63946;
    -cream: #FFFDD0;
}

ul {
    list-style: none;
}

h1 {
    text-align: center;
    color: var(--dkblue);
}

body {
    margin: 0 auto;
}

.primary-nav {
    background-color: var(--dkblue);
    color: #89CFF0;
    padding: 10px;
    font-size: 60px;
    margin: 5px;
}

.primary-nav__list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}
.primary-nav__link {
    padding: 25px;
    transition: all 0.5s ease;
    text-decoration: none;
}

.primary-nav__link:hover {
    background-color: white;
    color: #89CFF0;
    text-shadow: 20px 20px var(--dkblue);
}
